* {
  scroll-behavior: smooth;
}
.sevillana-regular {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

.App {
  text-align: center;
  background-color:rgb(255, 255, 255);
  position: relative;
 
}
.topbtn{
  position: sticky;
  bottom: 10px;
  width:5%;
  height: 1%;
  left:99%;
  background-color: #282c34;
  color: white;
  border-radius: 80px;
  
 
}
.topbtn a{
  color: white;
  text-decoration: none;
  font-size: x-large;
 /* background-color: white; */
 font-size: x-large;
cursor: pointer;

}
/* .topbtn:hover{
  color: black;
  background-color: white;
  
} */
/* .topbtn a:hover{
  color: black;
  background-color: white;
} */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  background-color: rgb(33, 158, 188);
  color: white;
  padding: 10px 20px;
 
}
.Navbarrightside {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  align-items: center;
  background-color: rgb(33,158,188);
  color: white;
  padding: 10px 20px;
    font-family: "Sevillana", cursive;
  font-size: x-large;

}

.Navbarleftside {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  align-items: center;
  background-color: rgb(33, 158, 188);
  color: white;
  padding: 10px 20px;
  font-size: xx-large;
    font-family: "Sevillana", cursive;
}
.Navbarrightside a {
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px 5px;
}

.Navbarrightside a:hover {
  color: black;
  background-color: white;
transition: all 0.25s ease-in;
}
.B{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 40px   ;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
*/}
.pic{
  width:40px;
  height: 50px;
}
#background{
 position: relative;
  background-image: url(https:cdn.wallpapersafari.com/83/55/WbvsGD.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position-y: bottom;
  background-image: cover;
  height: 80vh;
  width: 100%;

  /* color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
#info{
  width: 50%;
  margin-left: 50%;
}
.About{
  margin-top: 2%;
  position: absolute;
font-family: "Sevillana", cursive;
 /* background: "https: //i.etsystatic.com/7758902/r/il/813bf0/3270241369/il_1588xN.3270241369_2i9s.jpg"; */
}
/* #background{
  background-image: url(http://cliparts.co/cliparts/yck/rp5/yckrp5kqi.jpg);
  background-size: cover;
} */
.About div{
  justify-content: space-between;
  justify-items: center;
  column-gap: 1px;
  align-items: center;
  color: black;
    font-size: 5vh;
    margin-right:30% ;
}
.headingbestsellers{
  color: rgb(3,
    4,
    94);
  font-size: 40px;
  font-family: "Sevillana", cursive;
  
}
/* .heart{
  width: 50px;
  height:50px;
  align-self: center;
  background-color:#282c34 ;
} */
.bestsellersparent{
  display: flex;
  /* justify-content: space-between; */
  column-gap: 25px;
  row-gap: 60px;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  background-color: 8ecae6;
  color: white;
  padding: 10px 20px;
  font-size: x-large;
  flex-wrap: wrap;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.card{
  width:22%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color:219ebc ;
  padding:5px;
  font-size: 65%;
  color: black;
  /* background-color: rgb(142, 202, 230); */
  border: 2px solid rgb(142, 202, 230);
}
.card:hover{
  box-shadow: 0 0 7px 0px rgb(142, 202, 230);
}
.card img.bookcover {
  width: 60%;
  border-radius: 10px;
}
.card img.cartpic{
  width: 50%;
  height: 35px;
  border-radius: 1px;
}
.card img.heart {
  /* width: 50%; */
  height: 35px;
  border-radius: 1px;
  border-radius: 10px;
  }
.buynow{
  background-color: rgb(40, 44, 52,0.7);
  color: white;
  padding: 10% 20%S;
  border-radius: 10px;
  font-size: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}

.card button.cart{
  background-color: white;
  color: white;
  padding:0px 0px;
  border-radius: 10px;
  /* font-size: 15px; */
  cursor: pointer;
  margin-bottom: 5px;
}
.card button.liked {
  background-color: white;
  color: white;
  padding: 0px 0px;
  border-radius: 10px;
  cursor: pointer;
 background-color: rgb(255, 255, 255);
}
#Review h2{
  color: rgb(3,
      4,
      94); 
       font-size: 40px;
font-family: "Sevillana", cursive;
}
.reviewin{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 35px;

      border-bottom: 2px solid black;
  
}
.Reviewseperate{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: x-large;
  flex-wrap: wrap;
  margin-left: 50px;
  border-radius: 80px;
  padding: 25px;
  box-shadow: #282c34 3px 3px 3px 3px;
    
}
.Reviewseperate img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.Contactus{
  margin-top: 50px;
  margin-bottom: 50px;;
  border-radius: 10px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px 20px;
  border-radius: 10px;
  /* background-color:rgb(33, 158, 188); */
  box-shadow: 0 0 10px 0 black;
  border: 5px solid rgb(142, 202, 230);
  color: rgb(33, 158, 188)
  
}
.Contactus form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
   /* align-items: center;  */
  /* background-color:rgb(33, 158, 188); */
  color: rgb(33, 158, 188);
  padding: 10px 2px;
  font-size: 25px;
  font-family: "Sevillana", cursive;
}
.Contactus input{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(255,255,255,0.8);
  transition: 0.15s all ease;
} 

.Contactus label{
  color: white;
  text-align: left;
  font-size: 20px;
  color: rgb(33, 158, 188)
 
}

.Contactus textarea{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255, 0.8);
  resize: none;
}
.Contactus button{
  background-color: white;
  color: rgb(33, 158, 188);
  /* padding: 10px 20px; */
  border-radius: 10px;
  text-align: center;
  padding: 10px ;

  cursor: pointer;
  width:20%;
  margin-left: 40%;
}
.Contactus button:hover{
  box-shadow:  1px 1px black;
}
.Contactus h3{
  color: rgb(33, 158, 188);
  font-size: 40px;
}
.collection h2{
color: rgb(3,
      4,
      94);  font-size: 40px;
      font-family: "Sevillana", cursive;
}
.Ourcollection{
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px 20px;
  font-size: x-large;
  flex-wrap: wrap;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  
}
.footer{
  position: absolute;
  bottom: 0px;
 margin-top: 30px;
  width:100%;
  background-color:rgb(33, 158, 188);
  height: 30px;
}
.footer-text a img{
  width:20px;
  height: 20px;
  margin-left: 10px;
}