.App {
  text-align: center;
  background-color: rgb(255, 194, 222);
  position: relative;
  scroll-behavior: smooth;
}
.topbtn{
  position: sticky;
  bottom: 10px;
  width:1%;
  left:99%;
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  scroll-behavior: smooth;
}
.topbtn a{
  color: white;
  text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Navbar{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  background-color: #f6276c;
  color: white;
  padding: 10px 20px;
  scroll-behavior: smooth;
}
.Navbarrightside {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  align-items: center;
  background-color: #f6276c;
  color: white;
  padding: 10px 20px;
  font-size: large;
}
.Navbarleftside {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
  align-items: center;
  background-color: #f6276c;
  color: white;
  padding: 10px 20px;
  font-size: x-large;
}
.B{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 40px   ;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
*/}
.pic{
  width:40px;
  height: 50px;
}
.About{
  color: red;
  font-size: 40px;
}
.About div{
  /* display: flex; */
  justify-content: space-between;
  justify-items: center;
  column-gap: 1px;
  align-items: center;
  color: #f6276c;
  /* padding: 10px 20px; */
  font-size: 25px;

}
.headingbestsellers{
  color: red;
  font-size: 40px;
}
/* .heart{
  width: 50px;
  height:50px;
  align-self: center;
  background-color:#282c34 ;
} */
.bestsellersparent{
  display: flex;
  /* justify-content: space-between; */
  column-gap: 25px;
  row-gap: 60px;
  align-items: center;
  /* width: 100%; */
  background-color: rgb(255, 194, 222);
  color: white;
  padding: 10px 20px;
  font-size: x-large;
  flex-wrap: wrap;
}
.card{
  width:22%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color:#f6276c ;
  padding:10px;
  font-size: 85%;
  
}
.card img.bookcover {
  width: 30%;
  height: 100px;
  border-radius: 10px;
}
.card img.cartpic{
  width: 50%;
  height: 35px;
  border-radius: 1px;
}
.card img.heart {
  width: 50%;
  height: 35px;
  border-radius: 1px;
  
}
.buynow{
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 15px;
}
.Navbarrightside a{
  color: white;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px 5px;
}
.Navbarrightside a:hover{
  color: black;
  background-color: white;
}
.card button.cart{
  background-color: white;
  color: white;
  padding:0px 0px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}
.card button.liked {
  background-color: white;
  color: white;
  padding: 0px 0px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}
.Contactus{
  margin-top: 50px;
  margin-bottom: 50px;;
  border-radius: 10px;
  width: 35%;
  margin-left: 30%;
  margin-right: 35%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #f6276c;
  box-shadow: 0 0 10px 0 black

}
.Contactus form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
   align-items: center; 
  background-color: #f6276c;
  color: white;
  padding: 10px 2px;
  font-size: 25px;
}
.Contactus input{
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;;
  background-color: rgb(255,255,255,0.8);
  transition: 0.15s all ease;
} 



.Contactus textarea{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255, 0.8);
}
.Contactus button{
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.Contactus button:hover{
  box-shadow:  1px 1px black;
}
.Contactus h3{
  color: white;
  font-size: 40px;
}
.collection h2{
  color: red;
  font-size: 40px;
}
.Ourcollection{
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 20px;
  align-items: center;
  color: white;
  padding: 10px 20px;
  font-size: x-large;
  flex-wrap: wrap;
}
.footer{
  position: absolute;
  bottom: 0px;
 margin-top: 50px;
  width:100%;
  background-color: #f6276c;
  
}
.footer-text a img{
  width:20px;
  height: 20px;
  margin-left: 10px;
}